.title { 
    margin: 2rem auto;
    text-align: center;
    font-family: 'Kumbh Sans', sans-serif;
    color: blue;
    h3 {
        font-family: 'Bebas Neue', cursive;
        color: rgb(161, 161, 161);
        font-size: 3rem;
    }
}