.header{
    background-color: #26C6DA;
    padding: 10px;
    font-weigth: bold;
    color: #FFFFFF;
}

.title{
    font-size: 2rem;
    margin: 0;
    font-family: 'Slabo 27px';
    text-align: center;
}